.checkoutMobile {
    hr {
        margin: 10px 0;
    }

    .checkout__content {
        height: 100%;

        .checkout__reservations {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            .backToStep1 {
                position: absolute;
                left: 20px;
                font-size: 18px;
                z-index: 99;
            }

            .checkout__top {
                position: sticky;
                left: 0;
                width: 100vw;
                .checkout__header {
                    width: 100%;
                    height: 8vh;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    margin: 0 !important;
                    box-shadow: 0 1px 6px -2px $color-gray-1;
                    .header--step {
                        width: 100%;
                        p {
                            margin-bottom: 0;
                            font-size: 18px;
                            font-weight: bold;
                            color: $color-red;
                            text-transform: uppercase;
                        }
                    }
                    .header--user {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 10px;

                        span {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            background: $color-gray-3;
                            line-height: 35px;
                            display: flex;
                            justify-content: center;
                            font-size: 25px;
                            text-transform: uppercase;
                            color: $color-white;
                        }
                    }
                }
                .checkout__theater {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;

                    img {
                        width: 50px !important;
                        height: 50px !important;
                    }

                    .theater--name {
                        font-weight: bold;
                        color: $color-black;
                        margin-bottom: 0;
                    }
                    .theater--date {
                        color: $color-gray-2;
                        margin-bottom: 0;
                    }
                }
                .checkout__countdown {
                    text-align: center;
                    padding-top: 13px;
                    margin-top: 30px;
                    p {
                        margin: 0;
                        color: $color-gray-2;
                    }
                    h2 {
                        color: $color-red;
                        margin: 0;
                        font-size: 20px;
                    }
                }
            }
            .checkout__screen {
                width: 170%;
                margin-top: 15px;
                img {
                    width: 90%;
                }
            }
            .checkout__seat {
                text-align: center;
                width: 170%;
                .ghe {
                    color: $color-seats;
                    margin: 5px;
                    font-size: $fs-2;
                    line-height: 20px;
                }
                .gheVip {
                    color: $color-orange-dark !important;
                }
                .gheDaDat {
                    color: $color-gray-3 !important;
                    cursor: no-drop;
                }
                .gheDangChon {
                    color: $color-green !important;
                }
                .gheNguoiKhacDat {
                    color: $color-red !important;
                    cursor: no-drop;
                }
                .seat--col {
                    text-align: right;
                    button {
                        width: 20px;
                        font-size: $fs-3;
                        line-height: 20px;
                        margin: 5px;
                        font-weight: bolder;
                    }
                }
                .seat--note {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
        .checkout__bottom {
            position: fixed;
            bottom: 0;
            width: 100vw;
            height: 7vh;
            display: flex;
            align-items: center;
            text-align: center;
            border-top: 1px solid $color-gray-3;
            .seat--checked {
                width: 50%;
            }
            .bottom--btn {
                width: 50%;
                height: 100%;
                font-size: 18px;
                display: flex;
                align-items: center;
                color: $color-white;
                button {
                    width: 100%;
                    text-transform: uppercase;
                }
            }
        }
        .checkout__bills {
            width: 100%;
            height: 84.9vh;
            position: fixed;
            top: 8.1vh;
            right: -100%;
            padding: 5px 10px;
            background-color: $color-white;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            .checkout__money {
                h2 {
                    color: $color-green;
                    font-weight: bold;
                }
            }
            .checkout__info {
                color: $color-gray-2;
                font-size: $fs-2;
                .info--name {
                    font-weight: bold;
                    color: $color-black;
                    font-size: $fs-3;
                }
                p {
                    margin-bottom: $mg-1;
                    line-height: $pd-3;
                }
            }
            .checkout__selected {
                .seat {
                    color: $color-red;
                }
                .money {
                    color: $color-green;
                    font-weight: bold;
                    text-align: center;
                }
            }
            .checkout__client {
                span {
                    font-size: $fs-1;
                    font-weight: $fw-2;
                    color: $color-gray-2;
                }
                p {
                    margin-bottom: $mg-1;
                    line-height: $pd-5;
                }
            }
            .checkout__booking {
                background-color: $color-white;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(0, 0);
                .checkout__note {
                    font-size: $fs-1;
                    display: flex;

                    p {
                        margin-bottom: 0;
                        line-height: $pd-5;
                    }

                    i {
                        font-size: $fs-3;
                        color: $color-red;
                    }

                    span {
                        color: $color-orange-dark;
                    }
                }
                .checkout__btn {
                    width: 100%;
                    text-align: center;
                    line-height: 60px;
                    background-color: $color-green;
                    color: $color-white;
                    font-size: 20px;
                    font-weight: $fw-3;
                    cursor: pointer;
                }
            }
        }
    }
}

.tab__checkoutMobile {
    .ant-tabs-nav {
        display: none !important;
    }
}

.checkout__result {
    height: 100vh;
    background: linear-gradient(0deg, #0a2029, transparent);
    .checkout__header {
        width: 100%;
        height: 8vh;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0 !important;
        box-shadow: 0 1px 6px -2px $color-gray-1;
        .header--step {
            width: 100%;
            p {
                margin-bottom: 0;
                font-size: 18px;
                font-weight: bold;
                color: $color-red;
                text-transform: uppercase;
            }
        }
        .header--user {
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;

            span {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: $color-gray-3;
                line-height: 35px;
                display: flex;
                justify-content: center;
                font-size: 25px;
                text-transform: uppercase;
                color: $color-white;
            }
        }
    }
    .back {
        width: 100%;
        height: auto;
        font-size: $fs-2;
        button {
            &:nth-child(1) {
                position: absolute;
                left: 20px;
            }
            &:nth-child(2) {
                position: absolute;
                right: 20px;
            }
        }
        i {
            margin: 0 10px;
        }
    }
    .film {
        width: 345px;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .logo-rap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: $mg-1;

            p {
                margin-bottom: 0;
                padding-left: $pd-2;
            }
        }
        .film-img {
            padding: 0 10px;
        }
    }
}

// responsive 
@include between-sizes("576px", "696px") {
    .checkoutMobile {
        .checkout__content {
            .checkout__reservations {
                .checkout__screen {
                    width: 100%;
                    img {
                        width: 80%;
                    }
                }
                .checkout__seat {
                    width: 104%;
                    .seat--col {
                        button {
                            margin: 5px;
                        }
                    }
                    .seat--row {
                        .ghe {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}