.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    box-shadow: inset 10em 19em rgba(0, 0, 0, 0.3);
    top: 0;

    .nav:only-child {
        width: 100%;
        padding: 5px 5%;
        display: block;
    }
    .scrollNav {
        background-color: #101010 !important;
        border-bottom: none;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.4s ease 0s;
        
        .header__nav {
            .navbar {
                height: 70px;
            }
        }
    }

    .header__logo img {
        height: 75px;
        transition: all 0.5s;
    }
    .header__nav {
        a {
            color: white;
            font-weight: 500;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.4s ease 0s;
            height: 100px;

            .navbar-nav {
                transition: all 0.5s;
                border-bottom: 1px solid white;

                .nav-item {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        bottom: -1px;
                        height: 3px;
                        background-color: orange;
                        display: block;
                        transition: all 0.5s;
                        z-index: 10;
                    }

                    &:hover::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            .header__detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user {
                    background-color: white;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 10px;

                    i {
                        color: orange;
                    }
                }

                .user-name p {
                    color: white;
                    margin: 0;
                }
                .drop-menu {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.header__fixed {
    background-color: #101010;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    z-index: 99 !important;
    transition: all 0.4s ease 0s;
}
