* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
<<<<<<< HEAD
    font-weight: 400;   
=======
    font-weight: 400;
    height: 100vh;   
    background-image: url(./bgfull.jpg);
    background-position: center;
    background-size: 100%;
    object-fit: cover;
>>>>>>> e7da01a21b37450f38068d3cd32b5cde89ba6c5d
}
// macnific-popup
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
